//<МИКСИНЫ>===========================================================================================================
@import "_mixins";
//	anim(время анимации, время задержки)
//	anim_cubic(время анимации, время задержки)
//	animate(имя анимации, время анимации, infinite, тип анимации)
//	rotate(угол наклона)
//	scale(размер увеличения)
//	skew(угол искажения блока)
//	tr(x,y,z) - transform 3d
//	@include anim(0.8s,0s); -пример подключения
//</МИКСИНЫ >=========================================================================================================

//<ШРИФТЫ>============================================================================================================

//<Подключаем шрифты>=================================================================================================
//&display=swap&subset=cyrillic-ext      - добавить в google fonts (для быстрой загрузки, и зазгузки кириллического шрифта)
//@import "_fonts";
@import url(https://fonts.googleapis.com/css?family=Cormorant:300,300italic,regular,italic,500,500italic,600,600italic,700,700italic&display=swap&subset=cyrillic-ext);
//</Подключаем шрифты>================================================================================================

//<Иконочные шрифты>==================================================================================================
//@import "_icons";
//</Иконочные шрифты>=================================================================================================

//<Шрифт по умолчанию>================================================================================================
$fontfamily: "Cormorant";
//</Шрифт по умолчанию>===============================================================================================

//</ШРИФТЫ>===========================================================================================================

//<ПЕРЕМЕННЫЕ>========================================================================================================
$minwidth: 320px; //минимальная ширина iphone 5
$maxwidth: 1440; //максимальная ширина полотна макета
$maxWidthContainer: 1160; //ширина контентной части
$md1: $maxWidthContainer + 12; //первый брэкпоинт (ширина контентной части + 12px)
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//</ПЕРЕМЕННЫЕ>=======================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>========================================================================================
@import "_null";
body {
    color: #3c2a2a;
    font-size: 18px;
    &.lock {
        overflow: hidden;
    }
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>=======================================================================================

//<ОБОЛОЧКА>==========================================================================================================
.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    &.loaded {
    }
}
.wrapper--color {
    background-color: #b59797;
}
//</ОБОЛОЧКА>=========================================================================================================

//<ОСНОВНАЯ СЕТКА>====================================================================================================
.container {
    max-width: $maxWidthContainer + px;
    margin: 0 auto;
    @media (max-width: $md1+px) {
        max-width: 970px;
    }
    @media (max-width: $md2+px) {
        max-width: 750px;
    }
    @media (max-width: $md3+px) {
        max-width: none;
        padding: 0 10px;
    }
}
//</ОСНОВНАЯ СЕТКА>===================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>==============================================================
@import "_forms";
@import "_ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>=============================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>=====================================================================
//@import "../../js/fancybox/jquery.fancybox.scss";
//@import "_datepicker";
//@import "_fontawesome";
//@import "_popover.min.scss";
//@import "_baguetteBox";
//@import "_pagging";
@import "_popup";
@import "_header";
@import "_footer";

@import "_home";
@import "_service";
@import "_training";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================

//<ОСНОВНОЙ БЛОК>=====================================================================================================
.page {
    flex: 1 1 auto;
}

//====================================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================
